body
{
  background-color: #b2c3cc;
  font-family: 'Aldrich';
  font-size: 20px;
  font-weight: bold;
  color: black;
}
header
{
  color: #04132b;
}
.navlistlinks
{
  margin: 2em auto;
  padding: 0;
  max-width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  display: flex;
  overflow: hidden;
  gap: 30px;
  font-size: 24px;
}
.logo {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  top: 2em;
  display: block;
  transform: translate(-70%,50%);
  width:70px;
  height:24px;
  background:#ECEFF1;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
  border-radius:20px;
}
.logo::after, .logo::before{
    content:"";
    position:relative;
    display:inline-block;
    background:inherit;
    border-radius:inherit;
}
.logo::after{
    width:20px;
    height:20px;
    top:-25px;
    left:-25px;
}
.logo::before{
    width:36px;
    height:36px;
    top: -14px;
    left:26px;
}
.listitem
{
  max-width:100%;
  min-width:0;
  box-sizing: border-box;
}
.linkedinnav
{
  margin-left: auto;
}
a
{
  text-decoration: none;
  color: black;
}
.intro
{
  text-align:center;
  width: 40%;
}
.center_home
{
  display: flex;
  margin: 0 auto;
  gap: 25%;
  width: 75%;
}
.intro_center_home
{
  font-size: 64px;
  font-family: "Patua One";
}
.intro_description
{
  font-size: 20px;
  margin: 0 auto;
  padding: 0;
}
.intro_name
{
  padding: 0;
  margin-bottom: 0;
  margin-top: 10px;
}


